<div class="container vh-100 ">

  <%# <div class="main-img"></div> %>
  <div class="wrapper">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}, class:"simple-form-registrer") do |f| %>
      <h1>Sign Up</h1>
      <%= f.error_notification %>
      <div class="pass-icon">
        <%= f.input_field :email, required: true, autofocus: true, input_html: { autocomplete: "email" }, id:"email", placeholder:"Email" %>
        <%= f.input_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }, class:"password", placeholder:"Password" %>
        <%= f.input_field :password_confirmation, required: true, input_html: { autocomplete: "new-password" }, class:"password", placeholder:"Confirm Password" %>
        <%= f.input :file, as: :file, hint: 'Choose a profile picture' %>
        <%= f.input :type_of_user, as: :radio_buttons, collection: [TYPES], label_method: :second, value_method: :first %>
      </div>

      <%= f.button :submit, "Sign up", id:"Sign-up-btn" %>
      <div class="or">
        <hr><span>OR</span><hr>
      </div>
      <button class="google-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
        <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/></svg>
        Sign Up with Google
      </button>
      <div class="register">
        <p>If you have an account</p>
        <%= link_to "Log in", new_session_path(resource_name), class:"register-btn" %>
      </div>
    <% end %>
  </div">
  </div>
</div>
