<div class="container vh-100 d-flex m-5">
  <form>
    <div class="row">
      <div class="card-header">
      <h1>Assistants index</h1>
      </div>
      <%= form_with url: assistants_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find an assistant by skills or availability" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

      <div class="card-group">
      <% @assistants.each do |assistant| %>
        <div class="col-md-4">
          <div class="card border-dark mb-3" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-tittle"><%= assistant.firstname %> <%= assistant.lastname %></h4>
              <h6 class="card-subtitle mb-2 text-muted">Assistant</h6>
                <p class="card-text"> <p>Available: <%= assistant.availability %></p>
                <p>Skills: <%= assistant.skills %></p>
                <p><%= assistant.cv %></p></p>
                <a href="#" class="card-link">CV link</a>
                <%= link_to "Profile", assistant_path(assistant) %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </form>
</div>
