<h1 class="margin-padding mt-4">About <%= @assistant.firstname %> <%= @assistant.lastname %></h1>
<div class="container py-4">
  <div class="row g-4">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <%= cl_image_tag @assistant.photo.key, class:"avatar-square-shadow-xlg", crop: :thumb %>
          <h5 class="my-3"><%= @assistant.firstname %></h5>
          <p class="text-muted mb-1">Assistant</p>
          <p class="text-muted mb-4">Available: <%= @assistant.availability %></p>
          <div class="d-flex justify-content-center mb-2">
            <% if policy(@assistant).edit? %>
              <%= link_to "My Applications", applications_path, type: "button", class:"btn btn-outline-primary ms-1" %>
              <%= link_to "Edit Profile", edit_assistant_path, type: "button", class:"btn btn-outline-primary ms-1" %>
              <%#= link_to "Cancel", assitant_path(@assistant), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            <% else %>
              <%= link_to "Chat", new_assistant_chatroom_path(@assistant), type: "button", class:"btn btn-outline-primary ms-1" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <ul class="list-group list-group-flush rounded-3">
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <p class="text-muted mb-1">Curriculum Vitae <%= link_to cl_image_path(@assistant.cv.key, flags: :attachment) do %> </p>
              <i class="fas fa-globe fa-lg text-warning"></i>
              <% end %>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <p class="text-muted mb-1">Github/<%= @assistant.firstname %>_<%= @assistant.lastname %></p>
              <a href="#"><i class="fab fa-github fa-lg" style="color: #333333;"></i></a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <p class="text-muted mb-1">Twitter/<%= @assistant.firstname %>_<%= @assistant.lastname %></p>
              <a href="#"><i class="fab fa-twitter fa-lg" style="color: #55acee;"></i></a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <p class="text-muted mb-1">Instagram/<%= @assistant.firstname %>_<%= @assistant.lastname %></p>
              <a href="#"><i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i></a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <p class="text-muted mb-1">Facebook/<%= @assistant.firstname %>_<%= @assistant.lastname %></p>
              <a href="#"><i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i></a>
            </li>
          </ul>
        </div>
          <% if current_user.type_of_user == 'Assistant' && current_user.assistant != nil %>
          <%= link_to "Leave us your review", new_comment_path, "data-bs-toggle" => "modal", "data-bs-target" => "#staticBackdrop",type: "button", class:"btn btn-outline-primary mt-2 w-100" %>
          <% else %>
          <%= link_to "Add a review for this assistant", new_assistant_review_path(@assistant.id), type: "button", class:"btn btn-outline-primary mt-2 w-100" %>
          <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Full name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= @assistant.firstname %> <%= @assistant.lastname %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= @assistant.user.email %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Phone</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= @assistant.user.phone %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Skills</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= @assistant.skills.gsub(/\"/, '').split(",").join(",").gsub('[,','').gsub(']','') %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Address</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= @assistant.user.address %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <h5 class="mb-4 mt-4">Reviews about <%= @assistant.firstname %></h5>
          <ul class="list-group list-group-flush rounded-3">
            <% @assistant.reviews.each do |review| %>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              "<%= review.content %>"<div class="w-25"><% review.rating.times do %><i class="fas fa-star"></i>
              <% end %></div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <section class="vh-100" style="background-color: #eee;">
  <div class="container py-5  mt-5">
    <div class="container">
      <h2>Leave us your review</h2>
      <div class="row">
        <div class="col-xs-4">
          <%= simple_form_for [@comment] do |f| %>
            <%= f.input :title, placeholder: "Describe your experience" %>
            <%= f.input :content, placeholder: "What do you like about our service?" %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
            <%= f.input :name, placeholder: "Leave us your name" %>
            <%= f.submit "Send your comment" %>
          <% end %>
        </div>
      </div>
      <h6>Thank your for trusting in us!</h6>
    </div>
  </div>
</section>

      </div>
    </div>
  </div>
</div>
