<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5  mt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="card">
          <div class="card-header p-3">
            <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>My Applications</h5>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Company</th>
                  <th scope="col">Applicant</th>
                  <th scope="col">Offer</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
              <% @applications.each do |application| %>
                <tr class="fw-normal">
                  <th>
                    <%= cl_image_tag application.company.photo.key, class:"avatar" %>
                    <span class="ms-2"><%= application.offer.company.name %> </span>
                  </th>
                  <td class="align-middle">
                    <span><%= application.assistant.firstname %> <%= application.assistant.lastname %></span>
                  </td>
                  <td class="align-middle">
                    <span><%= application.offer.description %></span>
                  </td>
                  <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-success"><%= application.status %></span></h6>
                  </td>
                  <td class="align-middle">
                    <% if current_user.type_of_user == 'Company' %>
                      <%= link_to "", edit_application_path(application), class:"fas fa-check text-success" %>
                      <%= link_to "", application_path(application), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"fas fa-trash-alt text-danger" %>
                    <% elsif application.status == 'Interview' %>
                      <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                      <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                      <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ignaciozanotto/consulta-particular'});return false;">shelude your interview</a>
                    <% else %>
                      <%= link_to "remove application", application_path(application), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"text-danger" %>
                    <% end %>
                  </td>
                </tr>
                <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
