<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark py-2">
  <div class="container-fluid">
    <%= link_to  "Virtual Asistant", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <% if user_signed_in? %>

          <li class="nav-item rounded"><%= link_to "Home", root_path, class: "nav-link active", "aria-current":"page" %></li>
          <li class="nav-item rounded"><%= link_to "Offers", offers_path, class: "nav-link" %></li>
          <li class="nav-item rounded"><%= link_to "Assistants", assistants_path, class: "nav-link" %></li>
          <li class="nav-link nav-item rounded">Message<%#= link_to "Message", chatroom_messages, class: "nav-link" %></li>
          <li class="nav-item rounded"><%= link_to "Contact", "/", class: "nav-link" %></li>
          <% if current_user.type_of_user == 'Company' && current_user.company != nil %>
          <li class="nav-item rounded"><%= link_to "Company Dashboard", company_path(current_user.company.id),  class: "nav-link"%></li>
          <% elsif current_user.type_of_user == 'Assistant' && current_user.assistant != nil %>
          <li class="nav-item rounded"><%= link_to "Dashboard", assistant_path(current_user.assistant.id),  class: "nav-link"%></li>
          <% end %>

          <a class="nav-link nav-item rounded" href="#" data-bs-toggle="dropdown"><%= current_user.email %></a>

          <li class="nav-item rounded dropdown"><%= image_tag "https://kitt.lewagon.com/placeholder/users/=", class: "avatar-square dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

              <li><%= link_to "Post a Job Offer", new_offer_path, class: "dropdown-item" %></li>
              <li><%= link_to "Edit account", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %></li>
            </ul>
          </li>

        <% else %>
          <li class="nav-item rounded"><%= link_to "Home", root_path, class: "nav-link active", "aria-current":"page" %></li>
          <li class="nav-item rounded"><%= link_to "Offers", offers_path, class: "nav-link" %></li>
          <li class="nav-item rounded"><%= link_to "Assistants", assistants_path, class: "nav-link" %></li>
          <li class="nav-item rounded"><%= link_to "Companies", companies_path, class: "nav-link" %></li>
          <li class="nav-item rounded"><%= link_to "Contact", "/", class: "nav-link" %></li>
          <li class="nav-item rounded"><%= link_to "Log In", new_user_session_path, class:"nav-link" %></li>
          <li class="nav-item rounded"><%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %></li>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
