<div class="banner vh-100" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'background.jpg' %>);">
  <div class="container flex-wrap ">
    <div class="py-3">
      <h1>The N°1 <strong><span>Offer</span> <span>Marketplace</span></strong> </h1>
    </div>
    <h3>
      <span  class="text-type-js py-3" data-controller="typed-js"></span>
    </h3>
    <div class="py-3">
      <%= link_to "See offers", offers_path, class:"btn btn-look btn-outline-light m-2"%>
      <% if user_signed_in? == false %>
      <%= link_to "Our Assistants", assistants_path, class: "btn btn-look btn-outline-light m-2" %>
      <%= link_to "Our Companies", companies_path, class: "btn btn-look btn-outline-light m-2" %>
      <% end %>
    </div>
  </div>
</div>

<section class="section_one">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide carousel-dark pb-4" data-bs-ride="true">

      <div class="carousel-inner">
        <% @comments.each_with_index do |comment, index| %>
          <div class="carousel-item <%= index == 0 ? "active" : "" %> ">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div class="card border border-0 m-0" style="max-width: 600px;">
                  <div class="row justify-content-center align-items-center" >
                    <div class="col-md-4 p-0">
                      <%= cl_image_tag comment.assistant.photo.key, class:"img-fluid rounded-start h-100", crop: :thumb, gravity: :face %>
                    </div>
                    <div class="col-md-8 m-0 p-0">
                      <div class="card-body">
                        <h5 class="card-title "><i class="text-muted fas fa-quote-left"></i> <%= comment.title %> <i class="text-muted fas fa-quote-right" ></i></h5>
                        <p class="card-text text-muted"><i class="fas fa-regular fa-comment-dots" style="color:#FF385C"></i><br> <%= comment.content %></p>
                        <p class="card-text text-muted "><% comment.rating.times do %><i class="fas fa-star" style="color:#FF385C"></i>
                        <% end %>
                        </p>
                        <div>
                          <small><% cl_image_tag comment.assistant.photo.key, class:"avatar-square-shadow", crop: :thumb, gravity: :face %></small>
                          <p class="card-text"><small class="text-muted"><%= comment.name %></small></p>
                        </div>
                      </div>
                    </div>

                  </div>
              </div>

              </div>

            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section class="section_one">
  <div class="container">
      <div class="text-center py-4">
          <h3 class="section-heading text-uppercase py-3 m-0">Lorem ipsum dolor sit amet, consectetur?</h3>
          <h4 class=" text-muted py-3 m-0">Lorem ipsum dolor sit amet consectetur.</h4>
      </div>
      <div class="row text-center">
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-solid fa-circle fa-stack-2x text-color"></i>
                  <i class="fas fa fa-handshake fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="m-0 py-4">Lorem</h4>
              <p class="text-muted m-0 py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut magna dapibus, condimentum dui ac.</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-color"></i>
                  <i class="fas fa-desktop fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="m-0 py-4">Lorem</h4>
              <p class="text-muted m-0 py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut magna dapibus, condimentum dui ac.</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-color"></i>
                  <i class="fas fa-mobile fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="m-0 py-4">Lorem</h4>
              <p class="text-muted m-0 py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut magna dapibus, condimentum dui ac.</p>
          </div>
      </div>
  </div>
</section>

<section class="section_one" style="background-color:#00a6991f">
  <div class="">
    <div class="container">
        <h5 class="txt-center text-muted m-0 py-4">Since 2022, we've assisted companies, Big and Small.</h5>
        <ul class="row align-items-center logos p-4">
          <li class="col-xs-2 col-md-2 col-lg-2 logos-item py-2">
            <img loading="lazy" src="//timeetc.b-cdn.net/assets/img/content/logos/google.png" alt="Google logo">
          </li>
          <li class="col-xs-2 col-md-2 col-lg-2 logos-item py-2">
            <img loading="lazy" src="//timeetc.b-cdn.net/assets/img/content/logos/virgin.png" alt="Virgin logo">
          </li>
          <li class="col-xs-2 col-md-2 col-lg-2 logos-item py-2">
            <img loading="lazy" src="//timeetc.b-cdn.net/assets/img/content/logos/hermanmiller.png" alt="Herman Miller logo">
          </li>
          <li class="col-xs-2 col-md-2 col-lg-2 logos-item py-2">
            <img loading="lazy" src="//timeetc.b-cdn.net/assets/img/content/logos/facebook.png" alt="Facebook logo">
          </li>
          <li class="col-xs-2 col-md-2 col-lg-2 logos-item py-2">
            <img loading="lazy" src="//timeetc.b-cdn.net/assets/img/content/logos/hubspot.png" alt="Hubspot logo">
          </li>
          <li class="col-xs-2 col-md-2 col-lg-2 logos-item py-2">
            <img loading="lazy" src="//timeetc.b-cdn.net/assets/img/content/logos/kfc.png" alt="KFC logo">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section_one">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase m-0">Lorem ipsum dolor sit amet, consectetur?</h2>
          <h3 class="section-subheading text-muted m-0 py-4">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <div class="row text-center">
          <div class="col-md-4 py-4">
              <span class="fa-stack fa-4x">
                  <img class=" shadow-lg bg-body rounded" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_100,w_100/v1657317230/wmj8m8sfcgvezp3fz4j3.jpg" alt="">
              </span>
              <h4 class="py-3 m-0">Micaela</h4>
              <p class="text-muted m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut magna dapibus, condimentum dui ac.</p>
          </div>
          <div class="col-md-4 py-4">
              <span class="fa-stack fa-4x">
                  <img class=" shadow-lg bg-body rounded" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_100,w_100/v1657467847/mezjda9hlupboefuj1dr.jpg" alt="">
              </span>
              <h4 class="py-3 m-0">Ignacio</h4>
              <p class="text-muted m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut magna dapibus, condimentum dui ac.</p>
          </div>
          <div class="col-md-4 py-4">
              <span class="fa-stack fa-4x">
                  <img class=" shadow-lg bg-body rounded" src="https://res.cloudinary.com/watchlistcreator/image/upload/c_fill,g_face,h_100,w_100/v1662411017/development/72514688_lfr3vn.jpg" alt="">
              </span>
              <h4 class="py-3 m-0">Cédric</h4>
              <p class="text-muted m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut magna dapibus, condimentum dui ac.</p>
          </div>
      </div>
  </div>
</section>
