<section class="container-log vh-100" id="services">
  <div  class="wrapper-offers">
    <h1>How can I help you?</h1>
    <h2>See all our companies</h2>
      <div class="container">
        <%= form_with url: companies_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a company" %>
          <%= submit_tag "Search", class: "btn btn-outline-primary" %>
        <% end %>
      </div>
      <div class="container service-cards">
        <% @companies.each do |company| %>
          <div class="service-card ux">
            <div class="my-2 ">
            <%= cl_image_tag company.photo.key, class:"avatar-square-shadow-m", crop: :thumb, gravity: :face %>
            </div>
            <div class="my-2 ">
              <h2><%= company.name %></h3>
            </div>
            <div class="my-2 ">
            <p><%= company.description %></p>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</section>
