<h1 class="margin-padding">Dashboard</h1>
<div class="container py-4">
  <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <%= cl_image_tag @company.photo.key, class:"avatar-square-shadow-xlg", crop: :thumb, gravity: :face %>
          <h5 class="my-3"><%= @company.name %></h5>
          <div class="d-flex justify-content-center mb-2">
            <%# if policy(@company).edit? %>
              <%= link_to "My Applications", applications_path, type: "button", class:"btn profile-btn btn-sm w-50" %>
              <%= link_to "Edit Profile", edit_company_path, type: "button", class:"btn profile-btn btn-sm w-50" %>
              <%= link_to "Post offer", new_offer_path, type: "button", class:"btn profile-btn btn-sm w-50" %>
              <%#= link_to "Cancel", assitant_path(@company), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            <%# else %>
              <%#= link_to "Chat", applications_path, type: "button", class:"btn btn-outline-primary ms-1" %>
              <%#= link_to "My Applications", applications_path, type: "button", class:"btn btn-outline-primary ms-1" %>
              <%#= link_to "Edit Profile", edit_company_path, type: "button", class:"btn btn-outline-primary ms-1" %>
            <%# end %>
          </div>
        </div>
      </div>
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <ul class="list-group list-group-flush rounded-3">
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <i class="fas fa-globe fa-lg text-warning"></i>
              <p class="mb-0">https://yourcompany.com</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <p class="mb-0"><%= @company.description %></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= @company.user.email %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Phone</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= @company.user.phone %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Address</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= @company.user.address %></p>
            </div>
          </div>
        </div>
      </div>
        <div class="row">
        <% @offers.each do |offer| %>
          <div class="col-12 col-md-12 col-lg-6">
            <div class="card py2">
              <div class="card-body">
                <p class="py-2 m-0"><span class="text-primary font-italic"><%= offer.title %> </span></p>
                <p class="py-2 m-0" style="font-size: .80rem;"><%= offer.description %></p>
                <p class="py-2 m-0" style="font-size: .90rem;">Avaibility: <%= offer.tag %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
